---
export interface Props {
	name: string;
	email: string;
	url: string;
	is_active: boolean;
	progress_bar: number;
	expiration_date: Date;
	purchase_date: Date;
}

const { name, email, is_active, url, expiration_date, purchase_date } =
	Astro.props;

const domain_status = is_active ? 'success' : 'error';

const calculateTimePercentage = (startDate: Date, endDate: Date): number => {
	const timeDifferenceMs = endDate.getTime() - startDate.getTime();
	const daysDifference = timeDifferenceMs / (1000 * 3600 * 24); // Number of milliseconds in a day: 1000 ms * 60 sec * 60 min * 24 hours
	const totalDaysInBetween = 365.25; // Average number of days in a year (including leap years)

	return (daysDifference / totalDaysInBetween) * 100;
};

const progress_bar = calculateTimePercentage(purchase_date, expiration_date);
---

<div class="card w-auto bg-[#2B2C30] shadow-xl mr-2">
	<div class="card-body flex flex-row rounded-lg items-center space-x-3">
		<div class="flex-shrink-0">
			<img
				class="h-12 w-12 rounded-full object-cover"
				src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
				alt="Avatar"
			/>
			<p class="text-sm font-medium truncate font-mono">{name}</p>
		</div>

		<div>
			<div class=`badge badge-${domain_status} badge-sm`></div>
			<div class=`badge badge-${domain_status} badge-md`></div>
			<div class=`badge badge-${domain_status} badge-sm`></div>
		</div>

		<div class="flex-1 min-w-0">
			<p class="text-sm truncate mt-1 font-mono">
				Owner: <strong>{email}</strong>
			</p>
			<div class="mt-1">
				<div class="badge badge-info gap-2 font-mono">info</div>
				<div class="badge badge-success gap-2 font-mono">success</div>
				<div class="badge badge-warning gap-2 font-mono">warning</div>
				<div class="badge badge-error gap-2 font-mono">error</div>
			</div>
			<div class="mt-1">
				<button class="btn btn-sm font-mono lowercase">
					Phone
					<div class="badge font-mono">+99</div>
				</button>
				<button class="btn btn-sm font-mono text-cap lowercase">
					Email
					<div class="badge badge-secondary font-mono">+99</div>
				</button>
			</div>
		</div>

		<div>
			<div class="grid grid-flow-col gap-5 text-center auto-cols-max">
				<div
					class="kbd flex flex-col p-2 bg-neutral rounded-box text-neutral-content"
				>
					<span class="countdown font-mono text-3xl">
						<span style="--value:15;"></span>
					</span>
					days
				</div>
				<div
					class="kbd flex flex-col p-2 bg-neutral rounded-box text-neutral-content"
				>
					<span class="countdown font-mono text-3xl">
						<span style="--value:10;"></span>
					</span>
					hours
				</div>
				<div
					class="kbd flex flex-col p-2 bg-neutral rounded-box text-neutral-content"
				>
					<span class="countdown font-mono text-3xl">
						<span style="--value:24;"></span>
					</span>
					min
				</div>
				<div
					class="kbd flex flex-col p-2 bg-neutral rounded-box text-neutral-content"
				>
					<span class="countdown font-mono text-3xl">
						<span style="--value:58;"></span>
					</span>
					sec
				</div>
			</div>
			<div
				class=`tooltip ${progress_bar < 100 && 'tooltip-error'} ${progress_bar < 69 && 'tooltip-warning'} ${progress_bar < 29 && 'tooltip-success'} inline-flex items-center text-base font-semibold`
				data-tip={progress_bar + '%'}
			>
				<progress
					class="progress progress-secondary w-72"
					value={progress_bar}
					max="100"></progress>
			</div>
		</div>

		<div class="inline-flex items-center text-base font-semibold">
			{
				url && (
					<a href={url} class="btn">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
						>
							<path
								fill="currentColor"
								d="M2.01 21L23 12L2.01 3L2 10l15 2l-15 2z"
							/>
						</svg>
					</a>
				)
			}
		</div>
	</div>
</div>
